---
- name: Add Elastic GPG key
  rpm_key:
    key: https://artifacts.elastic.co/GPG-KEY-elasticsearch
    state: present

- name: Add Elastic repo
  community.general.dnf_repository:
    name: elastic-8.x
    description: Elastic repository for 8.x packages
    baseurl: https://artifacts.elastic.co/packages/8.x/yum
    gpgcheck: yes
    gpgkey: https://artifacts.elastic.co/GPG-KEY-elasticsearch
    enabled: yes

- name: Install Filebeat
  dnf:
    name: filebeat
    state: present

- name: Deploy filebeat.yml
  template:
    src: templates/filebeat.yml.j2
    dest: /etc/filebeat/filebeat.yml

- name: Add filebeat to nginx group
  user:
    name: filebeat
    groups: nginx
    append: yes

- name: Enable and start Filebeat
  systemd:
    name: filebeat
    enabled: yes
    state: started
