---
- name: Add Elastic GPG key
  rpm_key:
    key: https://artifacts.elastic.co/GPG-KEY-elasticsearch
    state: present

- name: Add Elastic repo (via ini_file)
  ini_file:
    path: /etc/yum.repos.d/elastic-8.x.repo
    section: elastic-8.x
    option: "{{ item.option }}"
    value: "{{ item.value }}"
    mode: '0644'
  loop:
    - { option: name, value: "Elastic repository for 8.x packages" }
    - { option: baseurl, value: "https://artifacts.elastic.co/packages/8.x/yum" }
    - { option: gpgcheck, value: "1" }
    - { option: gpgkey, value: "https://artifacts.elastic.co/GPG-KEY-elasticsearch" }
    - { option: enabled, value: "1" }
  become: yes

- name: Install Filebeat
  dnf:
    name: filebeat
    state: present

- name: Deploy filebeat.yml
  template:
    src: templates/filebeat.yml.j2
    dest: /etc/filebeat/filebeat.yml

- name: Add filebeat to nginx group
  user:
    name: filebeat
    groups: nginx
    append: yes

- name: Enable and start Filebeat
  systemd:
    name: filebeat
    enabled: yes
    state: started
