---
#- name: Update system
#  dnf:
#    name: "*"
#    state: latest
#    update_cache: yes

- name: Refresh dnf cache
  dnf:
    update_cache: yes
    name: "dummy"  # фиктивный пакет, чтобы не обновлять всё
  changed_when: false

- name: Upgrade all packages (may take a while)
  command: dnf -y upgrade --refresh
  args:
    warn: false
  changed_when: false

- name: Install common packages
  dnf:
    name:
      - git
      - curl
      - wget
      - vim
      - bash-completion
    state: present

#- name: Disable SELinux (temporarily)
# selinux:
#    state: disabled
#  when: ansible_selinux.status is defined

- name: Disable SELinux (via shell)
  shell: |
    setenforce 0
    sed -i 's/^SELINUX=.*/SELINUX=disabled/' /etc/selinux/config
  ignore_errors: yes

- name: Ensure SSH key-based auth works
  lineinfile:
    path: /etc/ssh/sshd_config
    regexp: '^PasswordAuthentication'
    line: 'PasswordAuthentication no'
  notify: restart sshd
