---
- name: Install Nginx
  dnf:
    name: nginx
    state: present

- name: Ensure Nginx is started and enabled
  systemd:
    name: nginx
    state: started
    enabled: yes

- name: Deploy test endpoint config
  copy:
    dest: /etc/nginx/conf.d/test.conf
    content: |
      server {
          listen 80;
          server_name testserv;
          location /test {
              add_header Content-Type "application/json";
              return 200 '{"status": "200 - OK", "message": "Запрос выполнен"}\n';
          }
          location / {
              root /usr/share/nginx/html;
              index index.html;
          }
      }
  notify: reload nginx
